@model fqtd.Areas.Admin.Models.BrandItems

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>BrandItems</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FullAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FullAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ItemName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ItemName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ItemName_EN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ItemName_EN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description_EN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description_EN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OpenTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OpenTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Website)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Website)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tbl_Brands.BrandName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tbl_Brands.BrandName)
    </div>
    
        <div class="editor-label">
            @Html.DisplayNameFor(model => model.FullAddress)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.FullAddress)
        </div>
        
        <div class="editor-label">
            @Html.DisplayNameFor(model => model.AddressNumber)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.AddressNumber)
        </div>
        <div class="editor-label">
            @Html.DisplayNameFor(model => model.Street)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Street)
        </div>
        <div class="editor-label">
            @Html.DisplayNameFor(model => model.District)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.District)
        </div>
        <div class="editor-label">
            @Html.DisplayNameFor(model => model.City)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.City)
        </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.SearchCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SearchCount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ClickCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClickCount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsActive)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActive)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateUser)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateUser)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ModifyDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifyDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ModifyUser)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifyUser)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DeleteDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DeleteDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DeleteUser)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DeleteUser)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MarkerIcon)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MarkerIcon)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id=Model.ItemID  }) |
    @Html.ActionLink("Back to List", "Index", new { keyword = TempData["CurrentKeyword"], CategoryID = TempData["CategoryID"], BrandID = TempData["BrandID"], page = TempData["CurrentPage"] })
</p>
