@model IEnumerable<fqtd.Areas.Admin.Models.BrandItems>

@{
    ViewBag.Title = "Index";
}
<div class="caption">
    <div class="title">Item list</div>
    <div class="addAction">
        @Html.ActionLink("   Create New   ", "Create")
        @Html.ActionLink("   Build keywords   ", "KeywordBuilder")
    </div>
</div>
<br />
@using (Ajax.BeginForm("Index", new
{
    page = 1,
    Keyword = ViewBag.CurrentKeyword,
    category = ViewBag.CurrentCategoryID,
    brand = ViewBag.CurrentBrandID
        
    }, new AjaxOptions { UpdateTargetId = "main" }))
    {
        <table id="giohang">
            <tr>
                <td style="text-align: right">Keyword:
                </td>
                <td>@Html.TextBox("keyword", (string)ViewBag.CurrentKeyword, new { id = "keyword" })
                </td>
                <td style="text-align: right">Categories:
                </td>
                <td>@Html.DropDownList("CategoryID", "-- All --")
                </td>
                <td style="text-align: right">Từ khóa:
                </td>
                <td>@Html.DropDownList("BrandID", "-- All --")
                </td>
                <td style="text-align: right"><input type="submit" value="Tìm kiếm" />
                </td>
            </tr>
        </table>
    }
<br />
<table>
    <tr><td>
    @Html.Partial("_Paging")</td></tr></table>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemName_EN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpenTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Website)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Brands.BrandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SearchCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClickCount)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName_EN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpenTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Website)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Brands.BrandName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SearchCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClickCount)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ItemID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ItemID }) |
            @Html.ActionLink("Images", "ImageList", new { id = item.ItemID }) |
            @Html.ActionLink("Properties", "ItemProperties", new { id = item.ItemID }) |
            @Html.ActionLink("BuildKeyword", "KeywordBuilder", new { itemid = item.ItemID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ItemID })
        </td>
    </tr>
}

</table>
