@model fqtd.Areas.Admin.Models.Categories

@{
    ViewBag.Title = "Create catetory";
}

<h2>Create category</h2>


@using (Html.BeginForm("Create", "Categories", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <div class="content-editor">

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CategoryName)
            @Html.ValidationMessageFor(model => model.CategoryName)
        </div>
         <div class="editor-label">
            @Html.LabelFor(model => model.CategoryName_EN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CategoryName_EN)
            @Html.ValidationMessageFor(model => model.CategoryName_EN)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.MarkerIcon)
        </div>
        <div class="editor-field">
             <input type="file" name="icon" />
            @Html.ValidationMessageFor(model => model.MarkerIcon)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Keyword)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Keyword, new { @id = "Keyword" })
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field-htmleditor">
            @Html.TextAreaFor(model => model.Description, new { @id = "Description" })
           <script type="text/javascript">
               CKEDITOR.replace("Description");
            </script>
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description_EN)
        </div>
        <div class="editor-field-htmleditor">
            @Html.TextAreaFor(model => model.Description_EN, new { @id = "Description_EN" })
           <script type="text/javascript">
               CKEDITOR.replace("Description_EN");
            </script>
            @Html.ValidationMessageFor(model => model.Description_EN)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
