@model IEnumerable<fqtd.Areas.Admin.Models.Properties>

@{
    ViewBag.Title = "Index";
}
<div class="caption">
    <div class="title">Item list</div>
    <div class="addAction">
        @Html.ActionLink("   Create New   ", "Create")
    </div>
</div><br />
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PropertyID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PropertyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PropertyName_EN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PropertyID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PropertyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PropertyName_EN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.PropertyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PropertyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PropertyID })
        </td>
    </tr>
}

</table>
