@{
    ViewBag.Title = "Kết quả";
    Layout = "~/Views/Shared/MasterSub.cshtml";      
}

<input id="address" type="hidden" style="width: 500px" value="@ViewBag.address" />
<input id="range" type="hidden" style="width: 100px" value="@ViewBag.range" />
<input id="category" type="hidden" style="width: 100px" value="@ViewBag.category" />
<input id="brand" type="hidden" style="width: 100px" value="@ViewBag.brand" />
<input id="search" type="hidden" style="width: 100px" value="@ViewBag.search" />
<input id="form" type="hidden" style="width: 100px" value="@ViewBag.form" />

<div id="content_sub">
    <div id="menu">
        <table>
            <tr>
                <td id="tabMap" class="active">
                    <img src="/images/icon_map.jpg" />
                    Bản đồ
                </td>
                <td id="tabList">
                    <img src="/images/icon_list.jpg" />
                    Danh sách
                </td>
            </tr>
        </table>
    </div>
    <div id="noidungchinh">
        <div id="map" class="hidden">
            <div id="googleMap">
            </div>
            <div class="btn_more">
                <a class="button" id="btn_xemthemMap">Xem thêm</a>
            </div>
        </div>
        <div id="list" class="hidden">
            <div id="subList">
            </div>
            <div class="btn_more">
                <div id="pagination" class="pagination"></div>
            </div>
        </div>
        <div id="loading">
            <img src="/images/loading.gif" />
        </div>
        <div id="cactienich" class="nostick">
            <div id="tbtable" style="display: none;">
                <div id="titleproperty">
                    <p><strong>Các tiện ích:</strong></p>
                </div>
                <div id="property">
                </div>
                <div class="btn_more">
                    <a class="button" id="btn_filter"/>Tìm</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="arrow">
                <div id="hrfClose" style="display: none; cursor: pointer;">
                    <img src="/images/button_close.jpg" />
                </div>
                <div id="hrfOpen" style="cursor: pointer;">
                    <img src="/images/button_open.jpg">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        jQuery(document).ready(function ($) {
            FQTD.initResult();
        });
    </script>
}