@model fqtd.Areas.Admin.Models.Brands

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Brands</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BrandName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BrandName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BrandName_EN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BrandName_EN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.Raw(Model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BrandTypeID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BrandTypeID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tbl_Categories.CategoryName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tbl_Categories.CategoryName)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.MarkerIcon)
    </div>
    <div class="display-field">
        <img src="@Href(System.Configuration.ConfigurationManager.AppSettings["BrandMarkerIconLocaion"] + "/" + Model.MarkerIcon)" width="50" />
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Logo)
    </div>
    <div class="display-field">
        <img src="@Href(System.Configuration.ConfigurationManager.AppSettings["BrandLogoLocaion"] + "/" + Model.Logo)" width="50" />
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsActive)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActive)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateUser)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateUser)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ModifyDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifyDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ModifyUser)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifyUser)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DeleteDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DeleteDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DeleteUser)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DeleteUser)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.BrandID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
