@model IEnumerable<fqtd.Areas.Admin.Models.Brands>

@{
    ViewBag.Title = "Index";
}
<div class="caption">
    <div class="title">Item list</div>
    <div class="addAction">
        @Html.ActionLink("   Create New   ", "Create")
    </div>
</div>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BrandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrandName_EN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_BrandType.BrandTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Categories.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifyDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifyUser)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BrandName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrandName_EN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_BrandType.BrandTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Categories.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifyDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifyUser)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BrandID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BrandID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BrandID })
        </td>
    </tr>
}

</table>
