<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - timdau.vn</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=1040" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    
    <header>
        <div id="header">
            <a href="~/"><img src="/images/logo_big1.png" /></a>
        </div>
    </header>
    <div id="wrapper">
        @RenderSection("featured", required: false)
        @RenderBody()
    </div>
   
    <footer>
        <div id="bottomHome" class="bottomHome">
            <div id="bottom_info">
                <div id="bottom_left">Copyright@2013 by Timdau.vn</div>
                <div id="bottom_right"><a href="~/home/contact"><strong>Liên hệ</strong></a>  |  <a href="~/home/introduction"><strong>Giới thiệu<strong></a>  |  <a href="~/home/termandconditionofuse"><strong>Điều khoản sử dụng<strong></a>  |  <a href="~/home/policy"><strong>Chính sách bảo mật<strong></a> </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/plugin")
    @Scripts.Render("~/bundles/utils")
    @RenderSection("scripts", required: false)
</body>
</html>
