<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - timdau.vn</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=1040" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <header>
        <div id="header">
            <img src="/images/logo_big1.png" />
        </div>
    </header>
    <div id="wrapper">
        @RenderSection("featured", required: false)
        @RenderBody()
    </div>
    <div id="facebook">
        <div class="fb-like" data-href="@ViewBag.URL"
            data-send="true" data-layout="button_count" data-width="450" data-show-faces="true" data-font="tahoma">
        </div>
    </div>
    <footer>
        <div id="bottomHome">
            <div id="bottom_info">
                <div id="bottom_left">Copyright@2013 by Timdau.vn</div>
                <div id="bottom_right"><a href="lienhe.html"><strong>Liên hệ</strong></a>  |  <a href="gioithieu.html"><strong>Giới thiệu<strong></a>  |  <a href="dieukhoan.html"><strong>Điều khoản sử dụng<strong></a>  |  <a href="chinhsach.html"><strong>Chính sách bảo mật<strong></a> </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/plugin")
    @Scripts.Render("~/bundles/utils")
    @RenderSection("scripts", required: false)
</body>
</html>
